/* add css styles here (optional) */

.zoomIn {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #A9A9A9 !important;
}

.zoomOut {
  border-radius: 0 0 4px 4px;
}

.zoomIn, .zoomOut {
  display: block !important;
  height: 35px;
  width: 35px;
  background-color: #D0D0D0;
  cursor: pointer;
  border: none
}

.zoomInIcon, .zoomOutIcon {
  height: 80%;
  width: 80%;
}

.zoomControls {
  position: absolute;
  padding: 10px 10px 0 0;
  top: 0;
  right: 0;
}

.openSeadragonViewer {
  width: 100%;
  height: 100%;
  background-color: #202020;
}
